a {
  text-decoration: none;
}

#container {
  position: relative;
  width: 800px;
  height: 600px;
  overflow: hidden;
  border: 2px solid #333;
}

#page-list {
  position: absolute;
  width: 7200px;
  height: 600px;
  z-index: 1;
  /* left: -800px; */
}

#page-list img {
  width: 800px;
  height: 600px;
  float: left;
}

#page-button {
  position: absolute;
  bottom: 20px;
  /* background-color: #ccc; */
  /* display: inline-block; */
  /* width: 10px; */
  height: 20px;
  left: 45%;
  z-index: 2;
}

#page-button span {
  display: inline-block;
  background-color: #ccc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.arrow {
  position: absolute;
  bottom: 45%;
  z-index: 2;
  /* width: 20px;
  height: 20px; */
  border: 1px solid #ccc;
  background-color: #ccc;
  font-size: 18px;
  padding: 8px;
}

a:hover {
  background-color: grey;
}

.arrow:first-of-type {
  left: 20px;
}

.arrow:last-child {
  right: 20px;
}
