a {
  text-decoration: none;
}

#container {
  position: relative;
  width: 800px;
  height: 600px;
  overflow: hidden;
  border: 2px solid #333;
  left: 300px;
}

#page-list {
  position: absolute;
  width: 7200px;
  height: 600px;
  z-index: 1;
  /* left: -800px; */
}

#page-list img {
  width: 800px;
  height: 600px;
  float: left;
}

#container:hover .arrow {
  /* visibility: visible; */
  display: block;
}

#page-button {
  position: absolute;
  bottom: 20px;
  /* background-color: #ccc; */
  /* display: inline-block; */
  /* width: 10px; */
  height: 20px;
  left: 45%;
  z-index: 2;
}

#page-button span {
  display: inline-block;
  background-color: #ccc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.arrow {
  position: absolute;
  bottom: 45%;
  z-index: 2;
  /* width: 20px;
  height: 20px; */
  border: 1px solid #ccc;
  background-color: darkgrey;
  font-size: 24px;
  padding: 8px;
  /* visibility: hidden; */
  display: none;
  color: aliceblue;
  /* opacity: 0.5; */
}

a:hover {
  background-color: grey;
}

.arrow:first-of-type {
  left: 20px;
}

.arrow:last-child {
  right: 20px;
}

#page-button .on {
  background-color: tomato;
}
