ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: 0;
}

.container {
  width: 600px;
  height: 550px;
  background-color: #999;
  margin: 50px auto 0;
}

.large-pic {
  width: 600px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.large-pic li {
  width: 600px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  /* z-index: 0; */
  cursor: pointer;
  overflow: hidden;
}

.large-pic li:first-of-type{
  z-index: 1;
}

.large-pic img {
  width: 600px;
  height: 400px;
}

.large-pic .prev-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 170px;
  z-index: 3001;
  background: url(./images/prev.png) no-repeat #ccc;
  background-size: 60px;
  filter: opacity(0);
  opacity: 0;
  cursor: pointer;
}

.large-pic .next-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 170px;
  z-index: 3001;
  background: url(./images/next.png) no-repeat #ccc;
  background-size: 60px;
  filter: opacity(0);
  opacity: 0;
  cursor: pointer;
}

.large-pic .left-backdrop {
  width: 300px;
  height: 400px;
  position: absolute;
  background-color: red;
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  filter: opacity(0);
}

.large-pic .right-backdrop {
  width: 300px;
  height: 400px;
  position: absolute;
  background-color: green;
  top: 0;
  left: 300px;
  z-index: 3000;
  opacity: 0;
  filter: opacity(0);
}

/* .large-pic .description {
  width: 300px;
  height: 20px;
  z-index: 3000;
  position: absolute;
  left: 10px;
  bottom: 2px;
} */

.small-wrapper {
  width: 600px;
  height: 150px;
  position: relative;
  overflow: hidden;
  background-color: #999;
}

.small-pic {
  width: 2000px;
  height: 150px;
  position: absolute;
  background-color: #999;
}

.small-pic li {
  width: 180px;
  height: 130px;
  margin: 10px 0 10px 15px;
  float: left;
  opacity: 0.6;
  filter: opacity(60);
  cursor: pointer;
}

.small-pic li:first-of-type {
  opacity: 1;
  filter: opacity(100);
}

.small-pic img {
  width: 180px;
  height: 130px;
}

.dot-wrapper {
  width: 600px;
  height: 20px;
  position: absolute;
  z-index: 3002;
  bottom: 5px;
  text-align: center;
}

.dot-wrapper span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.6;
  filter: opacity(60);
  cursor: pointer;
  background-color: black;
}

.dot-wrapper span:first-child {
  background-color: #fff;
}

